<%= form_for @workshop, :url => conference_workshops_path(:conference_id => @workshop.conference_id, :id => @workshop.id ) do |f| %>
  <% if @workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workshop.errors.count, "error") %> prohibited this workshop from being saved:</h2>

      <ul>
      <% @workshop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <input type="hidden" name="conference_id" value="<%= @workshop.conference_id %>" > -->
  <%= f.hidden_field :conference_id, :value => @workshop.conference_id %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :talker %><br />
    <%= f.text_field :talker %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
