<p id="notice"><%= notice %></p>
<div id="top">
<h1>
  <%= @conference.name %>
</h1>
<p>
  <b>organized from:</b>
  <%= @conference.organizer %>
</p>
<p>
  <b>Start date:</b>
  <%= @conference.start_date %>
</p>
<p>
  <b>Start time:</b>
  <%= @conference.start_time.strftime('%H:%M:%S') %>
</p>
 <ul id="Navigation">
<%= link_to 'Home', conferences_path %> |
<%= link_to 'add Workshop', new_conference_workshop_path(conference_id: @conference.id) %>  |
<%= link_to 'add Room', new_conference_room_path(conference_id: @conference.id) %> |
<%= link_to 'edit conference', edit_conference_path(@conference) %> 

</ul>
</div>






    <!--   <th>Seats</th>
      <th>Floor</th>
    </tr> -->
<% @rooms.each do |room| %>
<table>

  <div id="room">
    
    <h2><%= room.name %></h2>
    <p>Seats: <%= room.seat %></p>
    <p>Floor: <%= room.floor %></p>
     <p>ID: <%= room.id %></p>

     <ul id="Navigation">
      <li><%= link_to 'Show', conference_room_path(@conference, id: room.id) %></li>
      <li><%= link_to 'Destroy', conference_room_path(@conference, id: room.id), method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <li><%= link_to 'Edit', edit_conference_room_path(@conference, id: room.id) %></li>
    </ul>
    <div id="workshop">
     
    <% @workshops.order("start_time ASC").each do |workshop| %>
    
      <ol><h3>Workshop:</h3> <%= workshop.name %> </ol>
      <ol> <%= workshop.talker %></ol>
      <ol> <%= workshop.start_time.strftime('%H:%M:%S')  %></ol>
      <ol> <%= workshop.end_time.strftime('%H:%M:%S')  %> </ol>
       <%= link_to 'Show', conference_workshop_path(@conference, id: workshop.id) %>
       <%= link_to 'Edit', edit_conference_workshop_path(@conference, id: workshop.id) %>
       <%= link_to 'Destroy', conference_workshop_path(@conference, id: workshop.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    
    <% end %>
  </div>

<% end %>
   </div>
</table>
 


<!-- 

<div>

<table>
  <tr>
    <th>Name</th>
    <th>Talker</th>
    <th>von:</th>
    <th>bis:</th>
    <th></th>
  </tr>
<% @workshops.each do |workshop| %>
  <tr>
    <td><%= workshop.name %>  |</td> 
    <td><%= workshop.talker %>  |</td>
    <td><%= workshop.start_time %>  |</td>
    <td><%= workshop.end_time %>  |</td>
    <td><%= link_to 'Show', conference_workshop_path(@conference, id: workshop.id) %></td>
    <td><%= link_to 'Edit', edit_conference_workshop_path(@conference, id: workshop.id) %></td>
    <td><%= link_to 'Destroy', conference_workshop_path(@conference, id: workshop.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>


 -->